<html ng-app>

	<head>

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="todostyle.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="addedlist.js"></script>   
	</head>

	<body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">To Do List</h1>
                 <div class="todo-wrapper" ng-controller="TodoCtrl">
                  <h2>You have <span class="emphasis">{{totalAmount()}}</span> stuff to do today</h2>
                    <ul>
                      <li ng-repeat="todo in todos">
                        <input type="checkbox" ng-model="todo.done"/>
                        <span class="done-{{todo.done}}">{{todo.text}}</span>
                      </li>
                    </ul>
                  <form>
                  <input class="add-input" placeholder="My task is..." type="text" ng-model="formTodoText" ng-model-instant />
                  <button class="add-btn" ng-click="addstuff()"><h2>Add</h2></button>
                  </form>
                </div>
          </div>
        </div>

      </div>

    </div>

		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>

</html>